@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
/* reinicio padding y margin */
* {
  padding: 0;
  margin: 0;
}

/*--------------------------diseño nav--------------------------*/
.nav-color {
  background-color: white;
}

ul li {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.logo {
  max-width: 100%;
  height: auto;
}

.nier {
  padding-left: 3em;
  padding-left: 3em;
}

/*-------efecto nav---------*/
@media (min-width: 992px) {
  .nav-item a:hover {
    transform: scale(1.5);
  }
}
/*--------------------------diseño del footer--------------------------*/
footer {
  padding: 20px;
  background-color: white;
}

footer div ul {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 992px) {
  footer img:hover {
    transform: scale(1.5);
    transition-duration: 2s;
  }
}
/*--------------------------diseño index--------------------------*/
.contenido-index div article h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 4%;
}
.contenido-index div article p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5;
  word-spacing: 7;
  text-align: center;
  color: aliceblue;
  background-color: black;
}

.trailer h2 {
  font-size: 30px;
  text-align: center;
}

main div img {
  background-color: black;
  width: 100%;
}

/*--------------------------diseño videos--------------------------*/
section h2 {
  padding: 20px;
}

.trailer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trailer h2 {
  font-family: "Roboto";
  font-size: 40px;
  text-transform: uppercase;
  color: aliceblue;
}

section {
  font-family: "Roboto";
  font-size: 40px;
  text-transform: uppercase;
  color: aliceblue;
  background-color: black;
}

/* estilos mobile first 0-600*/
.nier {
  grid-area: logo;
}

.contenido-index {
  grid-area: contenido;
  margin-left: 3em;
  margin-right: 3em;
}

.trailer {
  grid-area: trailer;
  margin: 50px;
}

footer {
  grid-area: footer;
}

/* acomodamos las areas */
.grilla-index {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo       logo" "contenido  contenido" "trailer    trailer" "footer     footer";
}

header {
  background-color: white;
}

.nier {
  display: flex;
  flex-direction: row;
}

.ratio {
  max-width: 600px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
  .ratio {
    max-width: 991px;
  }
  .contenido-index div article h1 {
    font-size: 40px;
  }
  .contenido-index div article p {
    font-size: 18px;
  }
  .trailer h2 {
    font-size: 40px;
    text-align: center;
  }
}
/* estilos mobile first 1024*/
@media (min-width: 992px) {
  .ratio {
    max-width: 1080px;
  }
  .contenido-index div article h1 {
    font-size: 50px;
  }
  .contenido-index div article p {
    font-size: 20px;
  }
  .trailer h2 {
    font-size: 50px;
    text-align: center;
  }
  .nier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.mainhistoria h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 4%;
}
.mainhistoria section p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5;
  word-spacing: 7;
  text-align: justify;
  color: aliceblue;
  background-color: black;
}

/* -------historia------ */
/* estilos mobile first 0-600*/
.historia img {
  float: left;
  margin: 2%;
  max-width: 60%;
}

.mainhistoria {
  grid-area: historia;
  margin-left: 3em;
  margin-right: 3em;
}

.grilla-historia {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo       logo" "historia   historia" "footer     footer";
}

.historia p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5;
  word-spacing: 7;
  text-align: justify;
  color: aliceblue;
  text-transform: none;
  background-color: black;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
  .mainhistoria h1 {
    font-size: 40px;
  }
  .mainhistoria section p {
    font-size: 18px;
  }
}
/* estilos mobile first 1024*/
@media (min-width: 1024px) {
  .mainhistoria h1 {
    font-size: 50px;
  }
  .mainhistoria section p {
    font-size: 20px;
  }
}
/*--------------------------personajes--------------------------*/
.personajes-body {
  background-color: black;
  padding-bottom: 20px;
}
.personajes-body h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 4%;
}

.personajes {
  border-style: groove;
  overflow: hidden;
  border-color: white;
  border-radius: 2%;
  padding: 10px;
  margin: 20px;
}

/* estilos mobile first 0-600*/
.personajes img {
  float: left;
}

.personajes-body {
  grid-area: personajes;
  margin-left: 3em;
  margin-right: 3em;
}

.personajes-body h1 {
  margin-bottom: 0px;
}

.grilla-personajes {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo       logo" "personajes personajes" "footer     footer";
}

.personajes p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5;
  word-spacing: 7;
  text-align: justify;
  color: aliceblue;
  text-transform: none;
  background-color: black;
}
.personajes img {
  margin: 2%;
  max-width: 30%;
}
.personajes h2 {
  color: aliceblue;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
  .personajes-body h1 {
    font-size: 40px;
  }
  .personajes p {
    font-size: 18px;
  }
  .personajes h2 {
    font-size: 40px;
  }
}
/* estilos mobile first 1024*/
@media (min-width: 1024px) {
  .personajes-body h1 {
    font-size: 50px;
  }
  .personajes p {
    font-size: 20px;
  }
  .personajes h2 {
    font-size: 50px;
  }
  .nier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .personajes img:hover {
    transform: rotatey(360deg);
    transition-duration: 2s;
  }
  .derecha img {
    float: right;
  }
}
/*--------------------------musica--------------------------*/
.musica-body {
  padding: 20px;
  padding-bottom: 30px;
}

.videos {
  font-family: "Roboto";
  font-size: 25px;
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videos h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.musica-body h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 4%;
}

/* estilos mobile first 0-600*/
.musica-body {
  grid-area: musica;
  margin-left: 3em;
  margin-right: 3em;
}

.grilla-musica {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo    logo" "musica  musica" "footer  footer";
}

.videos h2 {
  color: aliceblue;
  font-size: 30px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
  .musica-body h1 {
    font-size: 40px;
  }
  .videos h2 {
    color: aliceblue;
    font-size: 40px;
  }
}
/* estilos mobile first 1024*/
@media (min-width: 1024px) {
  .musica-body h1 {
    font-size: 50px;
  }
  .videos h2 {
    color: aliceblue;
    font-size: 50px;
  }
}
/*--------------------------Director--------------------------*/
.director {
  background-color: black;
  padding: 20px;
  padding-right: 30px;
}
.director h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 4%;
}
.director p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5;
  word-spacing: 7;
  text-align: center;
  color: aliceblue;
  background-color: black;
}

/* estilos mobile first 0-600*/
.director {
  grid-area: director;
  margin-left: 3em;
  margin-right: 3em;
}

.grilla-director {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo     logo" "director director" "footer   footer";
}

.yoko img {
  float: left;
  margin: 2%;
  max-width: 40%;
}

.yoko p {
  text-align: justify;
  font-size: 15px;
}

.director {
  background-color: black;
  padding: 20px;
  padding-right: 30px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
  .director h1 {
    font-size: 40px;
  }
  .director p {
    font-size: 18px;
  }
}
/* estilos mobile first 1024*/
@media (min-width: 1024px) {
  .director h1 {
    font-size: 50px;
  }
  .director p {
    font-size: 20px;
  }
}
/*--------------------------mas--------------------------*/
.mas h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-transform: uppercase;
  padding: 2%;
  padding-top: 4%;
}
.mas article p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 5;
  word-spacing: 7;
  text-align: justify;
  color: aliceblue;
  background-color: black;
}
.mas img {
  width: 300px;
  height: auto;
}

.juegos {
  padding: 20px;
  border: 10px;
  border-style: double;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}
.juegos h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: aliceblue;
}
.juegos img {
  float: left;
  margin: 2%;
  max-width: 60%;
}
.juegos p {
  font-size: 15px;
  text-align: justify;
}

/* estilos mobile first 0-600*/
.mas {
  grid-area: juegos;
  margin-left: 3em;
  margin-right: 3em;
}

.grilla-mas {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo    logo" "juegos  juegos" "footer  footer";
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
  .mas h1 {
    font-size: 40px;
  }
  .mas article p {
    font-size: 18px;
  }
}
/* estilos mobile first 1024*/
@media (min-width: 1024px) {
  .mas h1 {
    font-size: 50px;
  }
  .mas article p {
    font-size: 20px;
  }
}
.juegos img:hover {
  transform: rotatey(360deg);
  transition-duration: 4s;
}/*# sourceMappingURL=estilos.css.map */