@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');

/* reinicio padding y margin */

*{
    padding: 0;
    margin: 0;
}


/*--------------------------diseño nav--------------------------*/

.nav-color {
    background-color: white;
}

ul li{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}

li a{
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.logo {
    max-width: 100%;
    height: auto;
}
.nier{
    padding-left: 3em;
    padding-left: 3em;
}
/*--------------------------diseño body--------------------------*/
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    background-color: black;
    text-transform: uppercase;
    padding: 2%;
    padding-top: 4%;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 5;
    word-spacing: 7;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

main div p{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.trailer h2 {
    font-size: 30px;
    text-align: center;
}

main div img{
    background-color: black;
    width: 100%;
}

section{
    font-family: 'Roboto';
    font-size: 40px;
    text-transform: uppercase;
    color: aliceblue;
    background-color: black;
}

/*--------------------------diseño videos--------------------------*/
section h2 {
    padding: 20px;
}

.trailer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

iframe {
    border-radius: 5%;
    border-color: white;
    border-style:inset;
    border-width: 10px;
}


/*--------------------------diseño del footer--------------------------*/
footer{
    padding: 20px;
    background-color: white;
}
footer div ul {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}


/*--------------------------personajes--------------------------*/

.personajes-body{
    background-color: black;
    padding-bottom: 20px;
}

.personajes {    
    border-style:groove;
    overflow: hidden;
    border-color: white;
    border-radius: 2%;
    padding: 10px;
    margin: 20px;
}

/*--------------------------musica--------------------------*/
.musica-body {
    padding: 20px;
    padding-bottom: 30px;
}

.videos {
    font-family: 'Roboto';
    font-size: 25px;
    color: aliceblue;
    text-align: center;
}

.videos h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}


/*--------------------------Director--------------------------*/
.director{
    background-color: black;
    padding: 20px;
    padding-right: 30px;
}

/*--------------------------mas--------------------------*/



.mas img{
    width: 300px;
    height: auto;
}


.juegos {
    padding: 20px;
    border: 10px;
    border-style:double;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.juegos h2 {
    margin-bottom: 10px;
}

/* --------------------breack points--------------- */

/* -------index------ */
/* estilos mobile first 0-600*/

.nier {
    grid-area: logo;
}

.contenido-index {
    grid-area: contenido;
    margin-right: 3em;
    margin-left: 3em;
}

.trailer {
    grid-area: trailer;
}

footer{
    grid-area: footer;
}

/* acomodamos las areas */
.grilla-index {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo       logo"
    "contenido  contenido"
    "trailer    trailer"
    "footer     footer";
}

header{
    background-color: white;
}

.nier{
    display: flex;
    flex-direction: row;
}

.ratio {
    max-width: 600px;
}

.trailer{
    margin: 50px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px){
    .ratio {
        max-width: 1024px;
    }

    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        text-align: center;
        color: aliceblue;
        background-color: black;
        text-transform: uppercase;
        padding: 20px;
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 5;
        word-spacing: 7;
        text-align: center;
        color: aliceblue;
        background-color: black;
    }

    .trailer h2 {
        font-size: 40px;
        text-align: center;
    }

    
}

/* estilos mobile first 1024*/
@media (min-width: 1024px){
    .ratio {
        max-width: 1080px;
    }

    h1{
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
        color: aliceblue;
        background-color: black;
        text-transform: uppercase;
        padding: 20px;
    }
    
    p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 5;
        word-spacing: 7;
        text-align: center;
        color: aliceblue;
        background-color: black;
    }

    .trailer h2 {
        font-size: 50px;
        text-align: center;
}
}

/* -------historia------ */
/* estilos mobile first 0-600*/
.historia img {
    float: left;
    margin: 2%;
    max-width: 60%;
}

.mainhistoria {
    grid-area: historia;
}

.grilla-historia {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo       logo"
    "historia   historia"
    "footer     footer";
}

.mainhistoria{
    margin-left: 3em;
    margin-right: 3em;
}

.historia p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 5;
    word-spacing: 7;
    text-align: justify;
    color: aliceblue;
    text-transform:none;
    background-color: black;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px){
    .historia p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 5;
        word-spacing: 7;
        text-align: justify;
        color: aliceblue;
        text-transform:none;
        background-color: black;
    }
}

/* estilos mobile first 1024*/
@media (min-width: 1024px){
    .historia p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 5;
        word-spacing: 7;
        text-align: justify;
        color: aliceblue;
        text-transform:none;
        background-color: black;
    }
}

/* -------personajes------ */
/* estilos mobile first 0-600*/

.personajes img{
    float: left;
}

.personajes-body{
    grid-area: personajes;
    margin-left: 3em;
    margin-right: 3em;
}

.personajes-body h1{
    margin-bottom: 0px;
}

.grilla-personajes{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo       logo"
    "personajes personajes"
    "footer     footer";
}

.personajes p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 5;
    word-spacing: 7;
    text-align: justify;
    color: aliceblue;
    text-transform:none;
    background-color: black;
}

.personajes img{
    margin: 2%;
    max-width: 60%;
}

.personajes h2 {
    color: aliceblue;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px){
    .personajes p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 5;
        word-spacing: 7;
        text-align: justify;
        color: aliceblue;
        text-transform:none;
        background-color: black;
    }

    .personajes h2 {
        font-size: 40px;
    }
}

/* estilos mobile first 1024*/
@media (min-width: 1024px){
    .personajes p{
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 5;
        word-spacing: 7;
        text-align: justify;
        color: aliceblue;
        text-transform:none;
        background-color: black;
    }
    .personajes h2 {
        font-size: 50px;
    }

    .nier {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .personajes img:hover {
        transform:rotatey(360deg);
        transition-duration: 2s;
    }


}

/* -------musica------ */
/* estilos mobile first 0-600*/

.musica-body{
    grid-area: musica;
    margin-left: 3em;
    margin-right: 3em;
}

.grilla-musica{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "logo    logo"
    "musica  musica"
    "footer  footer" ;
}

.videos h2 {
    color: aliceblue;
    font-size: 30px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px){
    .videos h2 {
        color: aliceblue;
        font-size: 40px;
    }
}

/* estilos mobile first 1024*/
@media (min-width: 1024px){
    .videos h2 {
        color: aliceblue;
        font-size: 50px;
    }
}

.videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------Director------ */
/* estilos mobile first 0-600*/

.director{
    grid-area: director;
    margin-left: 3em;
    margin-right: 3em;
}

.grilla-director{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "logo     logo"
    "director director"
    "footer   footer";
}

.yoko img{
    float: left;
    margin: 2%;
    max-width: 60%;
}

.yoko p {
    text-align: justify;
    font-size: 15px;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px){
    .yoko p {
        text-align: justify;
        font-size: 18px;
    }
}

/* estilos mobile first 1024*/
@media (min-width: 1024px){
    .yoko p {
        text-align: justify;
        font-size: 20px;
    }
}

/* ---------------mas-------------- */
/* estilos mobile first 0-600*/

.mas{
    grid-area: juegos;
    margin-left: 3em;
    margin-right: 3em;
}

.grilla-mas {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo    logo"
    "juegos  juegos"
    "footer  footer";
}

.juegos img {
    float: left;
    margin: 2%;
    max-width: 60%;
}

.juegos h2{
    font-size: 30px;
    color: aliceblue;
}

.juegos p{
    font-size: 15px;
    text-align: justify;
}

/* estilos mobile first 600-1024*/
@media (min-width: 600px){
    .juegos p{
        font-size: 18px;
    }

    .juegos h2{
        font-size: 40px;
    }
}

/* estilos mobile first 1024*/
@media (min-width: 1024px){
    .juegos p{
        font-size: 20px;
    }

    .juegos h2{
        font-size: 50px;
    }
}

.juegos img:hover {
    transform:rotatey(360deg);
    transition-duration: 4s;
}

