/*--------------------------diseño index--------------------------*/
.contenido-index {

    div {

        article {

            h1 {
                font-family: 'Roboto', sans-serif;
                font-size: 30px;
                text-align: center;
                color: aliceblue;
                background-color: black;
                text-transform: uppercase;
                padding: 2%;
                padding-top: 4%;
            }

            p {
                font-family: 'Poppins', sans-serif;
                font-size: 15px;
                line-height: 30px;
                letter-spacing: 5;
                word-spacing: 7;
                text-align: center;
                color: aliceblue;
                background-color: black;
            }
        }
    }
}


.trailer h2 {
    font-size: 30px;
    text-align: center;
}

main div img {
    background-color: black;
    width: 100%;
}



/*--------------------------diseño videos--------------------------*/

section h2 {
    padding: 20px;
}


.trailer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: 'Roboto';
        font-size: 40px;
        text-transform: uppercase;
        color: aliceblue;
    }

}


section {
    font-family: 'Roboto';
    font-size: 40px;
    text-transform: uppercase;
    color: aliceblue;
    background-color: black;
}

/* estilos mobile first 0-600*/

.nier {
    grid-area: logo;
}

.contenido-index {
    grid-area: contenido;
    @include marg (3em, 3em);
}

.trailer {
    grid-area: trailer;

    margin: 50px;
}

footer {
    grid-area: footer;
}

/* acomodamos las areas */
.grilla-index {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo       logo"
        "contenido  contenido"
        "trailer    trailer"
        "footer     footer";
}

header {
    background-color: white;
}

.nier {
    display: flex;
    flex-direction: row;
}

.ratio {
    max-width: 600px;
}



/* estilos mobile first 600-1024*/
@media (min-width: 600px) {
    .ratio {
        max-width: 991px;
    }

    .contenido-index {

        div {

            article {

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    .trailer h2 {
        font-size: 40px;
        text-align: center;
    }


}

/* estilos mobile first 1024*/
@media (min-width: 992px) {
    .ratio {
        max-width: 1080px;
    }

    .contenido-index {

        div {

            article {

                h1 {
                    font-size: 50px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }


    .trailer h2 {
        font-size: 50px;
        text-align: center;
    }

    .nier {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}